.food-container {
    width: 250px;
    padding: 10px 20px;
    background-color: rgba(128, 128, 128, 0.213);
    border-radius: 10px;
    border: 2px solid rgba(165, 42, 42, 0.312);
}

.img2 {
    width: 250px;
    border-radius: 10px;
}

.button {
    background-color: rgba(165, 42, 42, 0.366);
    color: white;
    border: 2px solid rgba(165, 42, 42, 0.654);
    padding: 5px 10px;
    border-radius: 7px;
    font-weight: bold;
}

.h3 {
    height: 22px;
    overflow: hidden;
}

.addCartbgColor {
    background-color: rgba(165, 42, 42, 0.43);
}