.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgba(165, 42, 42, 0.315);
    box-shadow: 0px 5px 9px rgba(128, 128, 128, 0.741);
    justify-items: center;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.navbar-title {
    display: flex;
    gap: 8px;
}

.navbar-list {
    display: flex;
    gap: 10px;
}

.img {
    width: 60px;
}